/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

//Bootstrap’s source Sass files
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "variables";

// fonte padrão
$font-family-base: "Roboto", sans-serif;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

* {
  scroll-behavior: smooth;
}

/* scrollbar quase transparent */
::-webkit-scrollbar {
  background: rgba(236, 218, 227, 0.9);
}

body {
  line-height: 1;
  font-family: $font-family-base;
  overflow: hidden;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.page-item {
  --#{$prefix}pagination-color: #{$Primary};
  --#{$prefix}pagination-active-bg: #{$Primary};
}

.offcanvas {
  max-width: 360px;
  .offcanvas-body {
    background: $indigo-100;
    font-weight: 700;

    .nav-pills {
      --#{$prefix}nav-pills-link-active-bg: #{$Primary};
    }
  }
}

textarea {
  resize: none;
}

.form-cadastro-produto {
  background: $container-bg;
  border-radius: 10px;
}

.breadcrumb {
}

a {
  text-decoration: none;
  font-size: 1rem;
}
